{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static' , filename ='img/about.jpg') }} ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>OUR TEAM</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!---------------------- Main Content---------------->

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="container text-center mt-5 mb-2">
                <h1 class="mb-0">About Website</h1><span></span>
            </div>

            <article class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <p>A blog is a discussion or informational website published on the world wide web consisting of discrete, often informal diary- style text entries.</p>
                            <p>We create this blogging website where users can upload and delete blog posts related new technology</p>
                            <h2>Gla University</h2>
                            <p>It was the year 1991 Shri Narayan Das Agrawal decided to fulfil the dream of his father, Late Shri Ganeshi Lal Agrawal, of establishing an institute for quality education to the people and the region & beyond. and initiated Sri Jagannath Prasad Ganeshi Lal Bazaz Charitable Trust Samiti in an attempt to make the holy city Mathura a recognized destination for knowledge seekers from different spheres of life. This is what led to the foundation of a milestone at the karmabhoomi of the versatile and sagacious Lord Krishna. GLA University has been actively involved with social causes since its very inception and has drawn appreciation from one and all for its works in various facets of societal paradigms.</p>
                            <p>GLA University is a private university in Mathura, Uttar Pradesh. It has been declared fit to receive central assistance under Section 12B of UGC Act, 1956 after proper assessment for the same by the UGC. It is recognized by University Grants Commission, NCTE and Pharmacy Council of India</p>
                       
                            
                        </div>
                    </div>
                </div>
            </article>

        </div>

        <!--------------------------------------team -------------------------------->
        <hr>
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="container text-center mt-5 mb-2">
                        <h1 class="mb-0">TEAM</h1><span>GLA University mathura</span>
                    </div>
                      


                    <div class="container mt-3">

                        <div class="row">

                            <div class="col-md-3">
                                <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename= 'img//profiles//p1.jpg') }} " width = "100">
                                    <h5 class="mt-3 name">Vikash Sharma</h5><span class="work d-block">B.C.A</span><span class="work d-block">Roll no: 2142000294</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename= 'img//profiles//p2.jpg') }} " width = "90">
                                    <h5 class="mt-3 name">Umesh Raghav</h5><span class="work d-block">B.C.A</span><span class="work d-block">Roll no: 2142000282</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename= 'img//profiles//p3.jpg') }} " width = "90">
                                    <h5 class="mt-3 name">Vanisha kumari</h5><span class="work d-block">B.C.A</span><span class="work d-block">Roll no: 214200088</span>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename= 'img//profiles//p4.jpg') }} " width = "90">
                                    <h5 class="mt-3 name">Umesh kumar</h5><span class="work d-block">B.C.A</span><span class="work d-block">Roll no: 2142000281</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename= 'img//profiles//p5.jpg') }} " width = "80">
                                    <h5 class="mt-3 name">Vishnu Singh</h5><span class="work d-block">B.C.A</span><span class="work d-block">Roll no: 2142000305</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename= 'img//profiles//p6.jpg') }} " width = "100">
                                    <h5 class="mt-3 name">Utkarsh yadav</h5><span class="work d-block">B.C.A</span><span class="work d-block">Roll no: 2142000285</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename= 'img//profiles//p7.jpg') }} " width = "90">
                                    <h5 class="mt-3 name">Vashudev Pandey</h5><span class="work d-block">B.C.A</span><span class="work d-block">Roll no: 2142000290</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename= 'img//profiles//p8.jpg') }} " width = "90">
                                    <h5 class="mt-3 name">Utkarsh Tiwari</h5><span class="work d-block">B.C.A</span><span class="work d-block">Roll no: 2142000294</span>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </main>
        {% endblock %}







